.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}

.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098A9;
  font-weight: 500;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown) + span {
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
  background: none;
  outline: none;
}

.inp input:focus + span {
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span + .border {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

