* {
    font-family: 'Barlow', sans-serif;
}

/* Navbar */
.nav-item {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.navbar-brand img {
    width: 120px;
    object-fit: contain;
}

.nav-item i {
    color: #FF5900;
}

.nav-item {
    white-space: nowrap;
    margin-left: 20px;
}

.nav-item.active, .nav-item:hover {
    color: #FF5900 !important;
}

.nav-option {
    display: inline-flex;
}

@media screen and (max-width: 767px) {
    a.navbar-brand, .navbar-brand img {
        display: none;
    }
    .nav-item {
        padding: 0;
        margin: 0;
    }
    .nav-option {
        right: 0;
    }
}

@media screen and (max-width: 368px) {
    .nav-option {
        display: inline-grid;
    }
}
/* End Navbar */


/* Lista produktów */
.item-row .item-title, .item-row .item-price{
    color: #300;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
}

.item-row .item-price {
    font-size: 18px;
}

.item-row a:hover {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .item-row a {
        padding-top: 30px;
    }
}
/* End Lista Produktów */

/* Footer */
footer {
    background: #f3f3f1;
    margin-top: 60px;
    font-size: 18px;
    text-transform: uppercase;
}
footer .copy {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400 !important;
}

.contact-row .btn-primary {
    background: #FF5900;
    border-color: #FF5900;
}
.contact-row .btn-primary:hover {
    background: #FF5900;
    border-color: #FF5900;
    opacity: 0.8;
}

.contact-row input, .contact-row input::placeholder, .contact-row textarea {
    text-transform: uppercase;
    text-align: center;
}
/* End Footer */

/* Custom */
span.my-orange {
    color: #FF5900;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.item-header{
    padding-top: 40px;
}

.contact-header {
    padding-top: 80px;
}
/* End Custom */

/* Newsletter */
.home-newsletter {
    padding: 80px 0;
    background: #FF5900;
    margin-top: 60px;
    opacity: 0.8;
}

.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
.home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
    text-transform: uppercase;
    text-align: center;
    }
.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
.home-newsletter .single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.home-newsletter .single .form-control::placeholder {
    text-transform: uppercase;
    text-align: center;
}
/* End Newsletter */

/* Breadcrumb */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #FF5900;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #FF5900;
    text-decoration: underline;
}
/* End Breadcrumb */

/* SliderPro */
#product-slider img {
    object-fit: cover;
}
/* End SliderPro */

a {
   color: black;
}

a:hover {
    color: #FF5900;
}

.shopping-cart-amount {
    background-color: #ff5900;
    border-radius: 3px;
    color: white;
    padding: 2px 8px;
    position: absolute;
}
/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        font-weight: bold;
    }

}
/* End Table */

/* Toast */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
.toast__container {
    display: table-cell;
    vertical-align: middle;
    top: -20px;
}

.toast__cell{
    display:inline-block;
}

.add-margin{
    margin-top:20px;
}

.toast__svg{
    fill:#fff;
}

.toast {
    text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

}

.toast__icon{
    position:absolute;
    top:50%;
    left:22px;
    transform:translateY(-50%);
    width:14px;
    height:14px;
    padding: 7px;
    border-radius:50%;
    display:inline-block;
}

.toast__type {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.toast__content{
    padding-left:70px;
    padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
    fill:#878787;
    transform: translateY(-50%);
}

.toast--green .toast__icon{
    background-color:#2BDE3F;
}

.toast--green:before{
    background-color:#2BDE3F;
}

.toast--blue .toast__icon{
    background-color:#1D72F3;
}

.toast--blue:before{
    background-color:#1D72F3;
}

.toast--red .toast__icon{
    background-color:#dc3545;
}

.toast--red:before{
    background-color:#dc3545;
}
.right-5-top-10 {
    right: 5%;
    top: 10%;
}
/* End Toast */

/* Custom Button */
.btn-template, .btn-template:hover {
    background: #ff5500;
    color: white;
}
.btn-link {
    color: #ff5500;
}
.btn-link:hover {
    color: black;
}
/* End Custom Button */

/* Selection */
::-moz-selection { background: #ff5500; color: white; }
::selection { background: #ff5500; color: white; }
/* End Selection */

/* TPAY */
#channels div.selected {
    border: 2px solid #1E63A9;
    border-radius: 4px 4px 4px 4px;
    margin: 3px 3px -1px -1px;
}
#channels div {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #b2b2b2;
    border-radius: 0.2em;
    cursor: pointer;
    display: inline-block;
    width: 120px;
    height:70px;
    margin-right: 4px;
    margin-top: 4px;
}

#channels div p.label {
    display:none;
}
/* END TPAY */